<html>
{% load static %}
<head>
<title>acceptor sign up</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href={% static "acceptor.css" %}>
    <script>
    function goBack(){
      window.history.back();
    }
    </script>
    <style>
    .button{
      background-color:#FF3C33;
      border:none;
      color:white;
      padding:15px 32px;
      text-align:center;
      display:inline-block;
      font-size:16px;
      margin:4px 2px;
      cursor:pointer;
      -webkit-transition-duration:0.4s;
      transition-duration:0.4s;
    }
      .button{
        box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0,0.19);
    }
    </style>
<body>
  <div class="page-header">
  <h1>Medical Acceptor Signup</h1>
</div>
<button class="button button1" onclick="goBack()">Go Back</button>
<a input type="button" class="button button1" href="\">Home</a>
    <div class="loginbox">
    <img src={% static "avatar.png" %} class="avatar">
       <!-- <h1>Sign up</h1>-->
        <form method="post" action="create_Acceptor" enctype="multipart/form-data">
          {% csrf_token %}
            <p>name</p>
            <input type="text" name="name" placeholder="Enter Medical Name">
			<p>proprietor name</p>
            <input type="text" name="proprietor" placeholder="Enter Proprietor Name">
			<p>license number</p>
            <input type="text" name="license_no" placeholder="Enter License Number">
			<p>phone_no</p>
			<input type="number" name="Phone_no" placeholder="Enter Phone number">
			<p>opening time</p>
			<input type="time" name="start_time" placeholder="Enter Opening time">
			<p>closing time</p>
			<input type="time" name="end_time" placeholder="Enter Closing time">
			<p>address</p>
			<input type="text" name="address1" placeholder="Enter Address">
			<p>city</p>
			<input id="inputCity" type="text" name="address3" placeholder="Enter City">
			<p>state</p>
			<select name="address4" >
			<option selected>Choose...</option>
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Orissa">Orissa</option>
<option value="Pondicherry">Pondicherry</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Tripura">Tripura</option>
<option value="Uttaranchal">Uttaranchal</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="West Bengal">West Bengal</option>
			</select>
			<p>pincode</p>
			<input type="number" name="pinCode" placeholder="Enter Pincode" maxlength="6">
			<p>uid no</p>
			<input type="number" name="UID" placeholder="Enter UID No" maxlength="16">
			<p>email id</p>
			<input type="email" name="email" placeholder="Enter Email Id">
			<p>username</p>
			<input type="text" name="username" placeholder="Enter Username">
            <p>password</p>
            <input type="password" name="password" placeholder="Enter Password">
		<p>upload license photo</p>
		<input type="file" name="License_image" placeholder="Upload license photo">
            <input type="submit" action="create_Acceptor" value="Sign Up Acceptor">
           <!-- <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
			-->
        </form>

    </div>

</body>
</head>
</html>
