<html>
<head>
<title>collector sign up</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="collector.css">
<body>
    <div class="loginbox">
    <img src="avatar.png" class="avatar">
       <!-- <h1>Sign up</h1>-->
        <form>
            <p>name</p>
            <input type="text" name="name" placeholder="Enter Username">
			<p>address</p>
			<input type="text" name="address" placeholder="Enter Address">
			<p>city</p>
			<input id="inputCity" type="text" name="address3" placeholder="Enter City"> 
			<p>state</p>
			<select name="address4" >
			<option selected>Choose...</option>
        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Orissa">Orissa</option>
<option value="Pondicherry">Pondicherry</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Tripura">Tripura</option>
<option value="Uttaranchal">Uttaranchal</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="West Bengal">West Bengal</option>
			</select>
			<p>pincode</p>
			<input type="number" name="pinCode" placeholder="Enter Pincode">
			<p>phone_no</p>
			<input type="number" name="Phone_no" placeholder="Enter Phone number">
			<p>date of birth</p>
			<input type="date" name="BirthDate" placeholder="Enter DOB">
			<p>uid no</p>
			<input type="number" name="UID" placeholder="Enter UID No">
			<p>email id</p>
			<input type="email" name="email" placeholder="Enter Email Id">
			<p>username</p>
			<input type="text" name="username" placeholder="Enter Username">
            <p>password</p>
            <input type="password" name="password" placeholder="Enter Password">
			<p>driving license number</p>
          <input type="text" name="Driving_license" placeholder="Enter Driving license no.">
			<p>qualification</p>
			<select name="qualification">
        <option selected>-- Select Group --</option>
        <option>10th pass</option>
        <option>12th pass</option>
        <option>UG</option>
        <option>PG</option>
      </select>
			<p>upload image</p>
			<input type="file" name="image" placeholder="Upload your photo">		
		<p>upload driving license photo</p>
		<input type="file" name="Driving_License_image" placeholder="Upload driving license photo">		
            <input type="submit" action="create_Collector" value="Sign Up Collector">
           <!-- <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
			-->
        </form>
    </div>
</body>
</head>
</html>