<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="dbcss.css">
<body>

<!-- Navigation -->
<nav class="w3-bar w3-black">
  <a href="#home" class="w3-button w3-bar-item">Home</a>
  <a href="#band" class="w3-button w3-bar-item">statistics</a>
  <a href="#tour" class="w3-button w3-bar-item">sign in</a>
  <a href="#contact" class="w3-button w3-bar-item">Contact</a>
</nav>

<!-- Slide Show -->
<div class="image">
  <img class="mySlides" src="C:\Users\HP\Documents\dbms project\image1.jpg "
  style="width:100%">
  <img class="mySlides" src="C:\Users\HP\Documents\dbms project\image2.jpg"
  style="width:100%">
  <img class="mySlides" src="C:\Users\HP\Documents\dbms project\image3.jpg"
  style="width:100%">
  <h2>
<span>THE WORLD'S FIRST MEDICINE DONATIONATION PLATFORM<span class='spacer'></span><br /><span class='spacer'></span>-Donate your unused medicine to save others life</span> <!-- span tag to beautify it efficiently -->
</h2>
</div>

<!-- Band Description -->
<section class="w3-container w3-center w3-content" style="max-width:600px">
  <h2 class="w3-wide">THE BAND</h2>
  <p class="w3-opacity"><i>We love music</i></p>
  <p class="w3-justify">We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>

<!-- Band Members -->
<section class="w3-row-padding w3-center w3-light-grey">
<h1 style="text-align:center;"><strong>FOUNDERS</strong></h1>
  <article class="w3-third">
    <p style="font-family:verdana;"><em>KHUSHBOO KUMARI</em></p>
    <img src="C:\Users\HP\Documents\dbms project\image4.jpg" alt="Random Name" style="float:left;width:500px;height:500px;">
    <address>
<q>
	Khushboo is the innovator.<br>
	Watching the condition of poor people having no money to cure themselves hit her hard.<br>
	Huge number of unused medicines getting dumped into the garbage was adding more to the cause.<br> 
	It was then when the idea of Medicine Donation crept into her mind. She got a huge inspiration from <mark>MEDICINE BABA.
	</mark>
	</q>
	</address>
  </article>
  <article class="w3-third">
    <p style="font-family:verdana;"><em>SHUBHAM SINGH</em></p>
    <img src="C:\Users\HP\Documents\dbms project\image5.jpg" alt="Random Name" style="float:left;width:500px;height:500px;">
	<address>
	<q>
	He has a keen interest in learning and exploring technical stuffs.<br>
	His motivation led this idea shape into reality.<br>
	His dedication level surely did help in the prepone release of Med-Donate.
	</q>
	</address>
  </article>
</section>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
  <a href="#"><i class="fa fa-facebook-official"></i></a>
  <a href="#"><i class="fa fa-pinterest-p"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-flickr"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <p class="w3-medium">
  Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </p>
</footer>

<script>
// Automatic Slideshow - change image every 3 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000);
}
</script>

</body>
</html>

