<!doctype>
<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Index page</title>
<head>
<table width="100%>
<header>
<!-- 
<h1>
<td align="center" alt="MedDonate"</td>
-->
<img src="C:\Users\HP\Desktop\project dbms\medp1.jpg" alt="MedDonate">
<br>
</header>
<style>
.btn {
    background-color: DodgerBlue;
    border: 2px solid #555555;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}
</style>
</head>
</tr>
<body background="C:\Users\HP\Desktop\project dbms\dc.jpg">
<button class="btn"><i class="fa fa-home"></i> I AM A DONOR</button>
<button class="btn"><i class="fa fa-home"></i> I AM A COLLECTOR</button>
<button class="btn"><i class="fa fa-home"></i> I AM A MEDICINE ACCEPTOR</button>
<div class="image">
  <img class="mySlides" src="C:\Users\HP\Desktop\project dbms\image1.jpg "
  style="width:100%">
  <img class="mySlides" src="C:\Users\HP\Desktop\project dbms\image2.jpg"
  style="width:100%">
  <img class="mySlides" src="C:\Users\HP\Desktop\project dbms\doc.jpg"
  style="width:100%">
  <h2>
<span>THE WORLD'S FIRST MEDICINE DONATIONATION PLATFORM<span class='spacer'></span><br/><span class='spacer'></span><i>-Donate your unused medicine to save others life</i></span> <!-- span tag to beautify it efficiently -->
</h2>
</div>
</table>
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
  <a href="#"><i class="fa fa-facebook-official"></i></a>
  <a href="#"><i class="fa fa-pinterest-p"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-flickr"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <p class="w3-medium">
  Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </p>
</footer>
<script>
// Automatic Slideshow - change image every 3 seconds
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000);
}
</script>
</body>
</html>

