<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Medical Donor </title>
  </head>
  <body>

    {% load static %}
    <div class="loginbox">
    <img src={% static "\images\avatar.png" %} class="avatar">
       <!-- <h1>Sign up</h1>-->
        <form>
            <p>name</p>
            <input type="text" name="" placeholder="Enter Username">
			<p>address</p>
			<input type="text" name="" placeholder="Enter Address">
			<p>pincode</p>
			<input type="number" name="" placeholder="Enter Pincode">
			<p>phone_no</p>
			<input type="number" name="" placeholder="Enter Phone number">
			<p>date of birth</p>
			<input type="date" name="" placeholder="Enter DOB">
			<p>uid no</p>
			<input type="number" name="" placeholder="Enter UID No">
			<p>email id</p>
			<input type="email" name="" placeholder="Enter Email Id">
			<p>username</p>
			<input type="text" name="" placeholder="Enter Username">
			<p>upload image</p>
			<input type="file" name="" placeholder="Upload your photo">
            <p>password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Sign Up Donor">
           <!-- <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
			-->
        </form>

    </div>



    <!-- <center>
      <div class="disp">



    <ol>
          {% for doner in donors %}
          <li>
            {{doner}}
          </li>
          {% endfor  %}
    </ol>
  </center>
</div>-->


  </body>
</html>
