<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Welcome to Medical Donation\</title>
    {% load static %}
  </head>
  <body style="background-image: url({% static "/images/index.jpg" %})">
    <center>

      <h1>Welcome to Medical Donation</h1>
      <table border="1" class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <th>Role</th>
          <th>View</th>
          <th>Add</th>
        </thead>
        <tbody>
            <td> <b>Medical Collector</b> </td>
            <td><a href="/collector"> View collectors</a></td>
            <td><a href="/add-collector">Add a Collector</a></td>
        </tbody>
        <tbody>

        </tbody>
        <tbody>
          <td> <b>Medical Donor</b> </td>
          <td> <a href="/donor">View Doner</a> </td>
          <td><a href="/add-donor">Add a Donor</a></td>
        </tbody>
      </tbody>
      <tbody>
        <td> <b>Medical Acceptor</b> </td>
        <td> <a href="/acceptor">View Acceptor</a> </td>
        <td><a href="/add-acceptor">Add a Acceptor</a></td>
      </tbody>

      </table>
    </center>
  </body>
</html>
