<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>jobs </title>

  </head>

  <body>

    <h1>The List of Job</h1>

    {% load static %}

    <div class>

      <table border="1" class="table table-striped table-bordered table-hover table-condensed">

        <thead>

          <th> <b>Date</b> </th>

          <th> <b>Job ID</b> </th>

          <th> <b>Donor ID</b> </th>

          <th> <b>Collector ID</b> </th>

          <th> <b>Acceptor ID</b> </th>

          <th> <b>Medicine ID</b> </th>

          <th> <b>vehicle ID</b> </th>


        </thead>

        {% for j in jobs %}

        <tbody>

            <td>{{j.date}}</td>

            <td>{{j.id}}</td>

            <td>{{j.donor_id}}</td>

            <td>{{j.collector_id}}</td>

            <td>{{j.acceptor_id}}</td>

            <td>{{j.medicine_id}}</td>

            <td>{{j.vehicle_id}}</td>


        </tbody>

        {% endfor  %}



      </table>

      <a href="/">Return to home page.</a>

    </div>
  </body>

</html>
