
<html>
<head>
<title>jobs description</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="jobs_final.css">
	<script>
function goBack() {
    window.history.back();
}
</script>
<style>
.button {
    background-color: #FF3C33; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
</style>
<body>
<button class="button button1" onclick="goBack()">Go Back</button>
<a input type="button" class="button button1" href="homepage.html">Home</a>
    <div class="loginbox">
    <img src="avatar3.png" class="avatar">
       <!-- <h1>Sign up</h1>-->
        <form>
            <p>donor id</p>
            <input type="text" name="donor_id" placeholder="Enter Donor Id">
			<p>collector id</p>
			<input type="text" name="collector_id" placeholder="Enter Collector Id">
			<p>acceptor id</p>
			<input type="text" name="acceptor_id" placeholder="Enter Acceptor Id">
            <p>medicine id</p>
			<input type="text" name="medicine_id" placeholder="Enter Medicine Id">
			<p>vehicle id</p>
			<input type="text" name="vehicle_id" placeholder="Enter Vehicle Id">
			<p>date</p>
			<input type="date" name="date" placeholder="Enter Date">
            <input type="submit" name="" value="Submit">
           <!-- <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
			-->
        </form>
        
    </div>

</body>
</head>
</html>