<html>
<head>
<title>medicine description</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="medicine.css">
<body>
    <div class="loginbox">
    <img src="avatar3.png" class="avatar">
       <!-- <h1>Sign up</h1>-->
        <form>
            <p>medicine name</p>
            <input type="text" name="name" placeholder="Enter Username">
			<p>manufacturing date</p>
            <input type="date" name="manufacturing_date" placeholder="Enter Manufacturing Date">
			<p>expiry date</p>
            <input type="date" name="expiry_date" placeholder="Enter Expiry Date">
			<p>manufacturer name</p>
            <input type="text" name="manufacturer" placeholder="Enter Manufacturer Name">
			<p>trade name</p>
            <input type="text" name="trade_name" placeholder="Enter Trade Name">
			<p>chemical composition</p>
            <input type="text" name="chemical_composition" placeholder="Enter Chemical Composition">
			<p>uses</p>
            <input type="text" name="uses" placeholder="Enter Uses">
			<p>quantity</p>
            <input type="number" name="quantity" placeholder="Enter Quantity">
			<p>side effects</p>
			<input type="text" name="side_effects" placeholder="Enter Side Effects">
			<p>salt composition</p>
            <input type="text" name="salt_composition" placeholder="Enter Salt Composition">
			<p>dosage</p>
            <input type="text" name="dosage" placeholder="Enter Dosage">
            <input type="submit" action="create_Medicine" value="Submit">
           <!-- <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
			-->
        </form>
        
    </div>

</body>
</head>
</html>