<html>
<head>
<title>medicine description</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="medicineledger.css">
<body>
    <div class="loginbox">
    <img src="avatar3.png" class="avatar">
       <!-- <h1>Sign up</h1>-->
        <form>
            <p>donor id</p>
            <input type="text" name="donor_id" placeholder="Enter Donor Id">
			<p>collector id</p>
            <input type="text" name="collector_id" placeholder="Enter Collector Id">
			<p>medicine id</p>
            <input type="text" name="medicine_id" placeholder="Enter Medicine Id">
			<p>acceptor id</p>
            <input type="text" name="acceptor_id" placeholder="Enter Acceptor Id">
			<p>indate</p>
            <input type="date" name="indate" placeholder="Enter Indate">
			<p>outdate</p>
            <input type="date" name="outdate" placeholder="Enter Out Date">
			<p>medicine count</p>
            <input type="number" name="medicine_count" placeholder="Enter Uses">
            <input type="submit" action="create_MedicineLedger" value="Submit">
           <!-- <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
			-->
        </form>
        
    </div>

</body>
</head>
</html>