{% load static %}
<html>
<head>
<title>medicine description</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href={% static "donor.css" %}>
    <script>
function goBack() {
    window.history.back();
}
</script>
<style>
.button {
    background-color: #FF3C33; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
</style>
<body>
<button class="button button1" onclick="goBack()">Go Back</button>
<a input type="button" class="button button1" href="/">Home</a>
    <div class="loginbox">
    <img src={% static "avatar3.png" %} class="avatar">
       <!-- <h1>Sign up</h1>-->
        <form method="post" action="create_Medicine" >
          {% csrf_token %}
            <p>medicine name</p>
            <input type="text" name="name" placeholder="Enter Medicine" required="true">
			<p>manufacturing date</p>
            <input type="date" name="manufacturing_date" placeholder="Enter Manufacturing Date" required="true">
			<p>expiry date</p>
            <input type="date" name="expiry_date" placeholder="Enter Expiry Date" required="true">
			<p>manufacturer name</p>
            <input type="text" name="manufacturer" placeholder="Enter Manufacturer Name" required="true">
			<p>trade name</p>
            <input type="text" name="trade_name" placeholder="Enter Trade Name" required="true">
			<p>chemical composition</p>
            <input type="text" name="chemical_composition" placeholder="Enter Chemical Composition" required="true">
			<p>uses</p>
            <input type="text" name="uses" placeholder="Enter Uses" required="true">
			<p>quantity</p>
            <input type="number" name="quantity" placeholder="Enter Quantity" required="true">
			<p>side effects</p>
			<input type="text" name="side_effects" placeholder="Enter Side Effects" required="true">
			<p>salt composition</p>
            <input type="text" name="salt_composition" placeholder="Enter Salt Composition" required="true" >
			<p>dosage</p>
            <input type="text" name="dosage" placeholder="Enter Dosage" required="true">
            <input type="submit"  value="Submit">
           <!-- <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
			-->
        </form>

    </div>

</body>
</head>
</html>
